Repository farymacomposer/webapp, pull requests merged in 2025-08, with the labels that each got.

#39 roslynator
  .github/workflows/roslynator.yml
Labels: enhancement

#40 roslynator
  .github/workflows/roslynator.yml
Labels: enhancement

#42 Bugfix: Swagger & entrypoint.sh
  backend/entrypoint.sh
  backend/src/Faryma.Composer.Api/DependencyInjection/ServiceCollectionExtensions.cs
  docs/di.txt
Labels: bug, backend

#46 Feature/add async api spec
  backend/src/Faryma.Composer.Api/DependencyInjection/ServiceCollectionExtensions.cs
  backend/src/Faryma.Composer.Api/Extensions/ApiDocumentationExtensions.cs
  backend/src/Faryma.Composer.Api/Extensions/SwaggerExtensions.cs
  backend/src/Faryma.Composer.Api/Faryma.Composer.Api.csproj
  backend/src/Faryma.Composer.Api/Features/OrderQueueFeature/Events/NewOrderAddedEvent.cs
  backend/src/Faryma.Composer.Api/Features/OrderQueueFeature/Events/OrderPositionChangedEvent.cs
  backend/src/Faryma.Composer.Api/Features/OrderQueueFeature/Events/OrderRemovedEvent.cs
  backend/src/Faryma.Composer.Api/Features/OrderQueueFeature/OrderQueueNotificationService.cs
  backend/src/Faryma.Composer.Api/Program.cs
  backend/src/Faryma.Composer.Api/Properties/launchSettings.json
Labels: enhancement, backend
